---
layout: default
title: blog
---

<style>
  .card-description {
    font-size: 0.82rem;
    color: rgba(240, 232, 255, 0.45);
    line-height: 1.6;
    margin-top: 4px;
    font-weight: 300;
  }
</style>

<h1 class="blog-index-heading">blog</h1>
<p class="blog-index-sub">anything that strikes my fancy</p>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="post-card">
      <a href="{{ post.url | relative_url }}">
        <span class="card-title">{{ post.title }}</span>
        <span class="card-meta">
          <time>{{ post.date | date: "%B %-d, %Y" }}</time>
          {% if post.tags %}
            {% for tag in post.tags %}
              <span class="tag">{{ tag }}</span>
            {% endfor %}
          {% endif %}
        </span>
        {% if post.description %}
        <span class="card-description">{{ post.description }}</span>
      {% endif %)
      <span class="card-wordcount">{{ post.content | number_of_words }} words</span>
      </a>
    </li>
  {% endfor %}
</ul>
